.jobspageio-main-panel
  .row
    .col-sm-10.col-sm-offset-1
      %h1.centered Activate your account
      %ul.pricing-table
        %li.title StartUp
        %li.price.monthly
          $&nbsp;12.95/month
        %li.price.yearly
          $&nbsp;9.95/month
          .yearly-details
            One payment of $&nbsp;119,40
        %li.description Single User
        %li.bullet-item # Jobs Posting
        %li.bullet-item # Phone Interview Questions
        %li.bullet-item # Hosted Questions
        %li.bullet-item # Team Member
        %li.bullet-item # Team Ranking Result
        %li.bullet-item # Plugin Integration
        %li.button
          =link_to 'Activate', '#', class: 'btn btn-primary'
      %ul.pricing-table
        %li.title Small Office
        %li.price.monthly
          $&nbsp;33.95/month
        %li.price.yearly
          $&nbsp;29.95/month
          .yearly-details
            One payment of $&nbsp;359,40
        %li.description Single User
        %li.bullet-item # Jobs Posting
        %li.bullet-item # Phone Interview Questions
        %li.bullet-item # Hosted Questions
        %li.bullet-item # Team Member
        %li.bullet-item # Team Ranking Result
        %li.bullet-item # Plugin Integration
        %li.button
          =link_to 'Activate', '#', class: 'btn btn-primary'
      %ul.pricing-table
        %li.title Enterprise
        %li.price.monthly
          $&nbsp;85.95/month
        %li.price.yearly
          $&nbsp;79.95/month
          .yearly-details
            One payment of $&nbsp;959,40
        %li.description Multi User
        %li.bullet-item # Jobs Posting
        %li.bullet-item # Phone Interview Questions
        %li.bullet-item # Hosted Questions
        %li.bullet-item # Team Member
        %li.bullet-item # Team Ranking Result
        %li.bullet-item # Plugin Integration
        %li.button
          =link_to 'Activate', '#', class: 'btn btn-primary'
