.jobspageio-main-panel
  .row
    .col-sm-10.col-sm-offset-1
      -#=form_for @account do |f|
      .row
        .col-sm-8
          .form-group#first-name{class: error_class(@user, :first_name)}
            -# TODO for is not working here but works in signin. why?
            %label.control-label{for: 'first-name'} Categoria
            %input.form-control#first-name{placeholder: 'Dev', name: 'account[first_name]', value: @user[:first_name], type: 'text'}
            -unless error_message(@user, :first_name).nil?
              %p.help-block#first-name
                %i.fa.fa-exclamation-triangle
                =error_message(@user, :first_name)
      .row
        .col-sm-8
          .form-group#last-name{class: error_class(@user, :last_name)}
            %label.control-label{for: 'last-name'} Title
            %input.form-control#last-name{placeholder: 'Front End', name: 'account[last_name]', value: @user[:last_name], type: 'text'}
            -unless error_message(@user, :last_name).nil?
              %p.help-block#last-name
                %i.fa.fa-exclamation-triangle
                =error_message(@user, :last_name)
      .row
        .col-sm-8
          .form-group#company-name{class: error_class(@account, :company_name)}
            %label.control-label{for: 'company-name'} Location
            %input.form-control#company-name{placeholder: 'New York', name: 'account[company_name]', value: @account[:company_name], type: 'text'}
            -unless error_message(@account, :company_name).nil?
              %p.help-block#company-name
                %i.fa.fa-exclamation-triangle
                =error_message(@account, :company_name)
      .row
        .col-sm-8
          .form-group#email{class: error_class(@user, :email)}
            %label.control-label{for: 'email'} Description
            %textarea.form-control#email{placeholder: 'Blaa blaa blaa.', name: 'account[email]', value: @user[:email], type: 'text'}
            -unless error_message(@user, :email).nil?
              %p.help-block#email
                %i.fa.fa-exclamation-triangle
                =error_message(@user, :email)
      .row
        .col-lg-8
          .form-group
            =link_to 'Edit', mockups_jobs_path, class: 'btn btn-default', 'data-disable-with' => 'Editing ...', remote: true
            =link_to 'Delete', mockups_jobs_path, class: 'btn btn-danger', 'data-disable-with' => 'Deleting ...', remote: true

