.jobspageio-main-panel
  .row
    .col-sm-10.col-sm-offset-1
      %table.table.table-hover
        %thead
          %tr
            %th Job Posting
            %th Name
            %th Date
            %th Status
        %tbody
          %tr
            %td Front End Dev
            %td John Smith
            %td 02/01/2014
            %td Waiting For Response
          %tr
            %td Front End Dev
            %td Han Solo
            %td 02/01/2014
            %td Waiting For Interview
          %tr
            %td Front End Dev
            %td Jan Smith
            %td 02/01/2014
            %td Waiting For Interview
          %tr
            %td Front End Dev
            %td Bob Dylan
            %td 02/01/2014
            %td Waiting For Interview
          %tr
            %td Front End Dev
            %td Chewee
            %td 02/01/2014
            %td Waiting For Interview
          %tr
            %td Front End Dev
            %td Han Solo
            %td 02/01/2014
            %td Waiting For Interview
          %tr
            %td Front End Dev
            %td Han Solo
            %td 02/01/2014
            %td Waiting For Interview
