%ul
  %li.sidebar-panel.sidebar-panel-activate
    =remote_link_icon_to 'Activate My Jobs Page', 'power-off', mockups_activate_path
  %li.sidebar-panel.sidebar-panel-dashboard
    =remote_link_icon_to 'Dashboard', 'home', mockups_dashboard_path
  %li.sidebar-panel.sidebar-panel-jobs
    =remote_link_icon_to 'Job Listings', 'group', mockups_jobs_path
  %li.sidebar-panel.sidebar-panel-replies
    =remote_link_icon_to 'Replies', 'envelope-o', mockups_replies_path
  %li.sidebar-panel.sidebar-panel-activity
    =remote_link_icon_to 'Activity', 'tachometer', mockups_activity_path
  %li.sidebar-panel.sidebar-panel-team
    =remote_link_icon_to 'Team Members', 'user', mockups_team_path
  %li.sidebar-panel.sidebar-panel-customize
    =remote_link_icon_to 'Customize Page', 'list-alt', mockups_customize_path
  %li.sidebar-panel.sidebar-panel-plugins
    =remote_link_icon_to 'Plugins', 'globe', mockups_plugins_path
  %li.sidebar-panel.sidebar-panel-filler
