.jobspageio-main-panel
  .row
    .col-sm-10.col-sm-offset-1
      %ul.nav.nav-tabs
        %li.jobs-listings-navtab.jobs-listings-navtab-active.active
          =link_to 'Active', mockup_jobs_active_path, remote: true
        %li.jobs-listings-navtab.jobs-listings-navtab-previous
          =link_to 'Previous', mockup_jobs_previous_path, remote: true
      .jobspageio-jobs-listings
        =render 'jobs_active'

  .row
    .col-sm-9.col-sm-offset-1
      =link_to 'Create Job Posting', mockup_job_create_path, class: 'btn btn-primary', remote: true
