.jobspageio-jobs-listings-panel
  %table.table.table-hover
    %thead
      %tr
        %th Department
        %th Title
        %th Location
        %th Created
    %tbody
      %tr.job-posting-link{data: {job: 1}}
        %td Program Manager
        %td Development Team Manager
        %td New York
        %td 02/01/2014
      %tr.job-posting-link{data: {job: 2}}
        %td Developer
        %td Front End Engineer
        %td New York
        %td 02/01/2014
      %tr.job-posting-link{data: {job: 3}}
        %td SysOps
        %td Network Engineer
        %td New York
        %td 02/01/2014
      %tr.job-posting-link{data: {job: 4}}
        %td Marketing
        %td Community Manager
        %td New York
        %td 02/01/2014
      %tr.job-posting-link{data: {job: 5}}
        %td Developer
        %td Junior Programmer
        %td New York
        %td 02/01/2014
