=render('layouts/app_menu')
.jobspageio-sidebar-nav
  %ul
    %li Activate Jobs Page
    %li Dashboard
    %li Job Listings
    %li Responses
    %li Activity
    %li Team Members
    %li Customize Page
    %li Plugins

.jobspageio-main
