=render('layouts/app_menu')
.jobspageio-sidebar-nav
  %ul
    %li
      =remote_link_icon_to 'Activate My Jobs Page', 'power-off', '#'
    %li
      =remote_link_icon_to 'Dashboard', 'home', '#'
    %li
      =remote_link_icon_to 'Job Listings', 'group', '#'
    %li
      =remote_link_icon_to 'Responses', 'envelope-o', '#'
    %li
      =remote_link_icon_to 'Activity', 'tachometer', '#'
    %li
      =remote_link_icon_to 'Team Members', 'user', '#'
    %li
      =remote_link_icon_to 'Customize Page', 'list-alt', '#'
    %li
      =remote_link_icon_to 'Plugins', 'globe', '#'

.jobspageio-main
