=render('layouts/signinup_menu')
.container
  %h2
    Thank you for your interest in #{app_name}.
  %p
    We are currently in a closed beta but if you would like to
    join or know more about #{app_name} please send us your email
    address and we will get back to you.
  %p
    Thank you once again!
  %p
    #{app_name} Dev Team
