// geometry
$section_padding: 25px;
$colour-bar-height: 8px;

// colours
$jobspageio-yellow:   rgb(242,234,0);
$jobspageio-amber:    rgb(235,206,19);
$jobspageio-orange:   rgb(240,170,20);
$jobspageio-sunset:   rgb(240,134,48);
$jobspageio-red:      rgb(240,122,96);
$jobspageio-fuchsia:  rgb(238,128,240);
$jobspageio-purple:   rgb(189,144,240);
$jobspageio-indigo:   rgb(144,146,240);
$jobspageio-blue:     rgb(127,186,220);
$jobspageio-aqua:     rgb(144,240,227);
$jobspageio-green:    rgb(145,210,113);
$jobspageio-lime:     rgb(197,240,96);

// bootstrap navbar
$border-radius-base: 0px;
$navbar-height: 75px;
