.colour-bars
  .colour-bar-yellow
  .colour-bar-amber
  .colour-bar-orange
  .colour-bar-sunset
  .colour-bar-red
  .colour-bar-fuchsia
  .colour-bar-purple
  .colour-bar-indigo
  .colour-bar-blue
  .colour-bar-aqua
  .colour-bar-green
  .colour-bar-lime
