%header
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    =render('layouts/colour_bar')
    .container
      .navbar-header
        =link_to icon_tag('briefcase', 'left') + app_name, www_url, {class: 'navbar-brand'}
  .navbar-spacer
